.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100px;
    width: auto;
}

.navbar_list {
    display: inline-block;
}