.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #D2D2D2;
    border-radius: 5px;
}   

.logo{
    height: 100px;
    width: auto;
}

.navbarList {
    display: inline-block;
}