.navbar{
    position: absolute;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}   



.navbarList li {
    display: inline-block;
    margin: 20px;
    font-size:25px;
    color:white;
    text-decoration: none;
}

.navbar a:visited{
    color: white;
}

.navbar a:hover{
    color: #d2d2d2;
}
