@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body, html{
font-family: 'Space Mono', monospace;
height:100vh;
width:100vw;
display: flex;
background-image: url('./assets/meBW.jpg');
background-size: cover;
background-position: center;
overflow: hidden;
}

.container{
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: 50%;
    height: auto;
    background-color: black;
    opacity: .75;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    top: 45%;
}