@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body, html{
font-family: 'Space Mono', monospace;
height:100vh;
width:100vw;
display: flex;
background-image: url('./assets/meBW.jpg');
object-fit: contain;
}