.typewriter{
    color: white;
    font-size: 40px;
}

.typewriterName{
    position: absolute;
    top: 50%;
    left: 60%;
}

.typewriterDesc{
    position: absolute;
    top: 55%;
    left: 60%;
}

@media only screen and (max-width: 600px) {
    .typewriter{
        font-size: 30px;
        margin: 0;
    }
    
    .typewriterName{
        position: relative;
        margin: 0;
    }

    .typewriterDesc{
        position: relative;
    }

  }