.projects{
    position: absolute;
    z-index: 2;
    width: auto;
    height: auto;
    background-color: black;
    opacity: .75;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    

.projects img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin: 25px;
}

.projectImgContainer{
    position: relative;
    height: 500px;
    width: auto;
    display: flex;
}