.projects{
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    width: fit-content;
    height: auto;
    background-color: black;
    opacity: .75;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    top: 30%;
}

.projects img{
    width: auto;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin: 10px;
}

.projectImgContainer{
    height: 500px;
    width: auto;
    display: flex;
}